.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

  .form-control label{
    color : black;
}  

.form-control input {
    border: 2px solid black;
    font: inherit;
    border-radius: 2px;
}

.btn {
    font: inherit;
    border: 2px solid black;
    color: black;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color :black; ;
    color: white;
}